:root {
    --bg-main: rgb(33, 29, 112);
    --color-main: rgb(31, 79, 155);
    --color-yellow: rgb(247, 122, 65);
}

* {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
  }
*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    color: #FFF;
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}

.owl-theme .owl-nav{
    margin: 0;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin: 0; 
    line-height: 1.5;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 990px;
}
.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}
.btn.btn-color-main{
    border-radius: 5px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
    background-color: var(--bg-main);
    color: rgb(255, 251, 247);
    text-transform: uppercase;
    text-align: center;
}
.btn.btn-color-main:hover{
    background-color: #060531;
}

  
.btn.btn-color-border-main{
    border-radius: 30px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    padding: 10px 23px 8px;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    min-height: 38px;
    letter-spacing: .03em;
    font-weight: 700;
    margin-bottom: 15px;
}
.btn.btn-color-border-main:hover{
    background-color: #d79f55;
    border-color: #d79f55;
    color: #fff;
}
.font-bold{
    font-weight: 700;
}
.font-normal{
    font-weight: 400!important;
}
.bg-dark{
    background-color: rgb(3, 10, 29)!important;
}
.color-dark{
    color: #252525!important;
}
.color-red{
    color: #f00!important;
}
.color-blue{
    color: #0693e3!important;
}
.color-main{
    color: #FF9B1E!important;
}
.title-main{
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
}

/* hover image  */
.box-image {
    position: relative;
    overflow: hidden;
}
.box-image img{
    width: 100%;
}

/* header */

header#header{
    margin-bottom: 30px;
}
header#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header#header .logo{
    width: 215px;
    height: 111px;
    background-image: var(--logo);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
}
header#header .menu{
    display: flex;
}
header#header .menu .item{
    font-weight: bold;
    line-height: 1.6;
    color: rgb(31, 79, 155);
    text-align: center;
    padding: 3px 20px;
}
header#header .menu .item.btn{
    background-color: rgb(33, 29, 112);
    padding: 4px 10px;
    font-size: 15px;
    border-radius: 30px;
    color: #FFF;
}

#form-top .container{
    display: flex;
}
#form-top .banner-form{
    flex: 0 0 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
}
#form-top .banner-form img{
    width: 100%;
    height: 100%;
    max-height: 495px;
}

.wrap-form-main{
    flex: 0 0 40%;
    max-width: 40%;
    background-color: rgb(12, 58, 131);
    box-shadow: rgb(255 255 255) 0px 5px 0px 0px;
    padding: 50px 30px 30px 30px;
}
.wrap-form-main .title-form{
    font-weight: 700;
    font-size: 19px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 15px;
}
.wrap-form-main .form-group{
    margin-bottom: 9px;
}
.wrap-form-main .form-group .form-control{
    padding-left: 8px;
    padding-right: 8px;
    min-height: 46px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    border-color: rgb(10, 103, 233);;
}
.wrap-form-main .form-group select.form-control{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/icon-select.svg);
    background-size: 9px 6px !important;
    background-position: right 15px center;
    background-repeat: no-repeat;
    padding-right: 24px;
}
.wrap-form-main .form-group .form-control::placeholder{
    font-size: 14px;
}
.wrap-form-main .btn{
    width: 100%;
    border-radius: 7px;
    background-color: rgb(244, 64, 37);
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 46px;
    margin-bottom: 25px;
}
.wrap-form-main .btn:hover{
    background-color: rgb(182, 30, 7);;
}

#banner-content{
    margin-bottom: 50px;
}
#banner-content .title-content{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
#banner-content .title-content .title{
    max-width: 85%;
    margin: 0 auto;
    font-size: 27px;
    line-height: 1.4;
    font-weight: 700;
    color: var(--color-main);
}
#banner-content .row{
    margin-left: -8px;
    margin-right: -8px;
}
#banner-content .item-banner-content{
    margin-bottom: 35px;
}
#banner-content .row [class*="col-"]{
    padding-left: 8px;
    padding-right: 8px;
}
#banner-content .box-content .title{
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
    line-height: 1.2;
    color: var(--color-yellow);
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
}
#banner-content .box-content .title::before{
    content: "";
    position: relative;
    left: 0;
    top: 0;
    width: 4px;
    min-width: 4px;
    height: 53px;
    display: block;
    background-color: var(--bg-main);
    margin-right: 8px;
}
#banner-content .box-content .content p{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    color: rgb(53, 53, 53);
}
#banner-content .box-content .content p:not(:last-child){
    margin-bottom: 20px;
}
.box-btn{
    text-align: center;
}
.box-btn .btn{
    width: 232px;
    border-radius: 14px;
    background-color: rgb(244, 64, 37);
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 58px;
    margin-bottom: 25px;
}

/*  */
#banner-support{
    padding-bottom: 60px;
}
#banner-support .title-content,
#specialized .title-content,
#info-cruid .title-content,
#about .title-content,
#video .title-content{
    text-align: center;
    margin-bottom: 30px;
}
#banner-support .title-content .title,
#specialized .title-content .title,
#info-cruid .title-content .title,
#about .title-content .title,
#video .title-content .title{
    font-size: 35px;
    line-height: 1.2;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--color-main);
    text-align: center;
}
#banner-support .row{
    margin-left: -45px;
    margin-right: -45px;
    padding: 0 50px;
}
#banner-support .row [class*="col-"]{
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
}
#banner-support .title{
    font-family: "Alfa Slab One", cursive;
    font-size: 15px;
    line-height: 1.6;
    color: var(--color-yellow);
    text-align: center;
    margin: 30px 0 0;
    min-height: 64px;
}
#banner-support .content p{
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(41, 41, 41);
    text-align: justify;
    word-break: break-word;
    margin-bottom: 15px;
}
#banner-support .content br{}
#banner-support .box-btn{
    margin-top: 30px;
}
#banner-support .list-image{
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin-bottom: 10px;
}
#banner-support .list-image.list-two{
    margin-left: -35px;
    margin-right: -35px;
    align-items: flex-start;
}
#banner-support .list-image .box-image-item{
    padding: 0 5px;
}
#banner-support .list-image .box-image-item:nth-child(1){
    width: 200px;
    height: 150px;
}
#banner-support .list-image .box-image-item:nth-child(2){
    width: 330px;
    height: 236px;
}
#banner-support .list-image .box-image-item:nth-child(3){
    width: 239px;
    height: 159px;
}
#banner-support .list-image.list-two .box-image-item:nth-child(1){
    width: 228px;
    height: 171px;
}
#banner-support .list-image.list-two .box-image-item:nth-child(2){
    width: 441px;
    height: 294px;
}
#banner-support .list-image.list-two .box-image-item:nth-child(3){
    width: 349px;
    height: 232px;
}
#banner-support .list-image .box-image-item img{
    width: 100%;
    height: 100%;
}
/*  */
#video .box-video{
    max-width: 693px;
    margin: 0 auto 40px;
}
#video .title-content .title{
    font-size: 44px;
}
/*  */
#about{
    padding-top: 50px;
    padding-bottom: 30px;
}
#about .wrap-content{
    display: flex;
    
}
#about .wrap-content .box-image{
    flex: 0 0 55%;
    max-width: 55%;
}
#about .wrap-content .box-image img{
    width: 100%;
    height: 100%;
}

#about .wrap-content .box-content-child{
    flex: 0 0 45%;
    max-width: 45%;
    border-radius: 9px;
    background-color: rgb(31, 79, 155);
    box-shadow: rgb(255, 255, 255) 0px 5px 0px 0px;
    color: #FFF;
    padding: 20px 20px 20px 35px;
    color: rgb(241, 243, 244);
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    align-items: center;
}
#about .wrap-content{}
/*  */
#info-cruid{
    margin-top: 30px;
    margin-bottom: 65px;
}
#info-cruid .row{
    align-items: center;
    margin-bottom: 20px;
}
#info-cruid .title-cruid{
    font-size: 24px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(33, 29, 112);
    padding: 8.5px 10px;
    margin-left: 40px;
}
#info-cruid .box-content{
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    border-radius: 9px;
    border:1px solid rgba(212, 212, 212, 0.41);
    background-color: rgb(255, 250, 246);
    padding: 23px 25px 23px 35px;
}

#recrui-info{
    background-color: rgb(238, 238, 238);
}
#recrui-info .box-title{
    padding: 15px 0 20px;
    text-align: center;
}
#recrui-info .box-title .title{
    font-weight: 700;
    color: rgb(41, 41, 41);
    text-align: center;
}
#recrui-info .box-content{
    width: 100%;
    max-width: 916px;
    margin: 0 auto;
    border-width: 1px;
    border-radius: 9px;
    border-style: solid;
    border-color: rgba(212, 212, 212, 0.41);
    background-color: rgb(255, 250, 246);
    padding: 20px 25px;
    display: flex;
}
#recrui-info .box-content .item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 40px 0 20px;
}
#recrui-info .box-content .item:nth-child(2){
    padding-left: 40px;
    padding-right: 20px;
    position: relative;
}
#recrui-info .box-content .item:nth-child(2)::before{
    content: "";
    width: 5px;
    min-width: 5px;
    height: 80%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -2.5px;
}
#recrui-info .box-content .item .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-main);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    color: rgb(255, 250, 246);  
    min-height: 45px;
    margin-bottom: 30px;
}
#recrui-info .box-content .item .list{
    list-style: none;
}
#recrui-info .box-content .item .list li{
    position: relative;
    display: flex;
    padding-left: 15px;
    font-size: 15px;
}
#recrui-info .box-content .item .list li::before{
    content: "";
    width: 8px;
    min-width: 8px;
    border-radius: 6px;
    height: 9px;
    background-color: rgb(0, 0, 0);
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
}

#process{
    background-image: var(--bg-process);
    background-size: auto;
    background-origin: content-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
}
#process::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.83);
}
#process .container{
    position: relative;
    z-index: 1;
}
#process .container .box-title{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 70px;
}
#process .container .box-title .title{
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: rgb(247, 122, 65);
    text-align: center;
}
#process .container .list-process{
    display: flex;
    justify-content: center;
    padding: 0 45px;
    position: relative;
}
#process .container .list-process::before{
    content: "";
    position: absolute;
    top: 57px;
    left: 50%;
    width: calc(100% - 20%);
    height: 5px;
    background-color: var(--bg-main);
    transform: translateX(-50%);
}
#process .container .list-process .item{
    text-align: center;
    flex: 0 0 25%;
    max-width: 25%;
}
#process .container .list-process .item .box-image{
    width: 118px;
    height: 118px;
    background-color: var(--bg-main);
    border-radius: 100px;
    margin:0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#process .container .list-process .item .box-image img{
    width: unset;
}
#process .container .list-process .item .content{
    font-size: 20px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    text-align: center;
    word-break: break-word;
}
#process .container .box-btn{
    margin-top: 60px;
    padding-bottom: 30px;
}
#process .container .box-btn .btn{
    font-size: 19px;
    background-color: rgb(247, 122, 65);;
}
/* form-register */
#form-register{
    background-color: var(--bg-main);
    padding-bottom: 80px;
}
#form-register .box-title{
    padding: 30px 0 55px;
}
#form-register .box-title .title{
    font-size: 25px;
    line-height: 1.4;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}
#form-register .wrap-form-main{
    border-radius: 20px;
    background-color: rgb(255, 251, 247);
    box-shadow: rgb(255 255 255) 0px 5px 0px 0px;
    max-width: 660px;
    margin: 0 auto;
    padding-left: 68px;
    padding-right: 68px;
}
#form-register .wrap-form-main .title-form{
    color: rgb(3, 3, 3);
    margin-bottom: 25px;
}
#form-register .wrap-form-main .form-group .form-control{
    min-height: 52px;
}
#form-register .wrap-form-main .btn{
    height: 53px;
    margin-bottom: 0;
}

footer#footer{
    padding-top: 70px;
    background-color: rgb(238, 238, 238);
}
footer#footer .box-logo-footer{
    /* text-align: right; */
    max-width: 360px;
    margin: 0 0 20px auto;
}
footer#footer .box-logo-footer .logo-footer{
    margin-top: -30px;
}
footer#footer .box-logo-footer .list-content-footer{
    padding-left: 27px;
}
footer#footer .list-content-footer .title{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    color: var(--bg-main);
    text-align: left;
    margin-bottom: 10px;
}
footer#footer .list-content-footer .content{
    display: flex;
    margin-bottom: 20px;
    color: var(--bg-main);
}
footer#footer .list-content-footer .content svg{
    min-width: 14px;
    margin-right: 10px;
}

#banner-top{
    background-color: rgb(250, 250, 250);
    padding-top: 40px;
    margin-top: 40px;
}
#banner-top .box-content{
    background: url(../images/image-18.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 135px 25px 68px;
}
#banner-top .box-content .title{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    color: #FFF;
}
#banner-top .box-content .text{
    font-size: 16px;
    line-height: 1.6;
    color: #FFF;
}

#list-text{
    background-color: rgb(250, 250, 250);
    padding-top: 90px;
    padding-bottom: 40px;
}
#list-text .row .box-content{
    display: flex;
}
#list-text .row .col-lg-6:nth-child(even) .box-content{
    flex-direction: row-reverse;
}
#list-text .row .box-content .box-image img{
    margin-right: -20px;
    position: relative;
    z-index: 2;
    margin-top: -35px;
}
#list-text .row .col-lg-6:nth-child(even) .box-content .box-image img{
    margin-left: -20px;
    margin-right: 0;
    z-index: 1;
}
#list-text .row .col-lg-6:nth-child(1) .box-content,
#list-text .row .col-lg-6:nth-child(2) .box-content{
    padding-bottom: 25px;
}
#list-text .row .col-lg-6:nth-child(1) .box-content .box-image img{
    z-index: 4;
}
#list-text .row .col-lg-6:nth-child(2) .box-content .box-image img{
    z-index: 1;
}
#list-text .row .col-lg-6:nth-child(3) .box-content .box-image img{
    z-index: 3;
}
#list-text .row .col-lg-6:nth-child(4) .box-content .box-image img{
    z-index: 2;
}
#list-text .row .box-content .box-image{
    overflow: unset;
}
#list-text .row .box-content .box-image img{
    width: 193px;
    min-width: 193px;
    height: 193px;
    border-radius: 100%;
}

#list-text .row .box-content .box-text .title{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    color: rgb(10, 103, 233);
    margin-bottom: 5px;
}
#list-text .row .box-content .box-text .text{
    font-size: 15px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

#list-text .row .col-lg-6:nth-child(1) .box-content .box-text,
#list-text .row .col-lg-6:nth-child(3) .box-content .box-text{
    padding-right: 25px;
}
#list-text .row .col-lg-6:nth-child(2) .box-content .box-text,
#list-text .row .col-lg-6:nth-child(4) .box-content .box-text{
    padding-left: 25px;
}










